mat-card {
    margin-top: 5rem;
    width: 80%;
}

.form-group {
    width: 300px;
}

table {
    width: 500px;

}
.text-danger {
    color: red;
}

.submit-form {
    width: 80%;
    margin: auto;
}

.table {
    width: 300px;
}