mat-card {
    margin-top: 5rem;
    width: 80%;
}

.form-group {
    width: 300px;
}


.text-danger {
    color: red;
}

.submit-form {
    width: 80%;
    margin: auto;
}

table {
    width: 645px;
    border: none;
}

.addMore {
    width: 30%;
    margin-left: 30px;
    
}

.remove {
    width: 40px;
    margin-top: 20px;
}

.saveButton {
    height: 40px;
    width: 120px;
}

td {
    height: 15px;
}